# macOS
.DS_Store

# Dependency directories
node_modules/

# Environment variables file (if using dotenv)
.env

# Build artifacts
dist/
coverage/

# Logs
logs/
*.log

# Editor directories
.idea/
.vscode/
